<div class="top-menu">
  <div>
    <button class="bth-reg" mat-icon-button (click)="openRegForm()" >
      <mat-icon>how_to_reg</mat-icon>
    </button>
    <button class="btn-sing-in" mat-icon-button (click)="openLoginForm()">Login</button>
  </div>
</div>
<header class="wrapper-header">
  <h2>Logo</h2>
  <nav class="main-nav">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/articles" routerLinkActive="active">Articles</a>
  </nav>
</header>
<router-outlet></router-outlet>
