<div class="wrapper-articles">
  <div class="wrapper-header-articles">
    <div class="wrapper-filter">
      <mat-form-field>
        <label>
          <input matInput type="text" placeholder="Search for" [(ngModel)]="titleArticles"/>
        </label>
      </mat-form-field>
    </div>
    <div class="wrapper-sort">
      <div class="container-btn">
        <span>Sort:</span>
        <button mat-icon-button (click)="sortAsc()">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-icon-button (click)="sortDesc()">
          <mat-icon>arrow_upward</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <ul class="list-articles">
    <li *ngFor="let article of listArticles | filterItems: titleArticles">
      <mat-card class="mat-articles" (click)="redirect()">
        <div class="container-img">
          <img src="{{article.img}}">
        </div>
        <div class="header-articles">
          <h3>{{article.title}}</h3>
        </div>
        <div class="articles-info">
          <p><i class="material-icons">
            query_builder
          </i>{{article.date}}</p>
          <p><i class="material-icons">
          insert_comment
          </i>{{article.comments}}</p>
        </div>
      </mat-card>
    </li>
    <li class="no-elements" *ngIf="(listArticles | filterItems: titleArticles).length === 0">No elements</li>
  </ul>
</div>
